/*************************** Сброс стилей *****************************/

html, body, div, span, object, iframe, a, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


/************************* Общие стили ***************************/

body {
  min-width: 1100px;
  background: #f6f6f6;
  color: #2d2d2d;
  font-family: 'Arial', 'Helvetica';
  font-size: 16px;
  line-height: 1.5;
}

html, body {
  height: 100%;
  background: white;
}

.wrapper {
  width: 1100px;
  margin: auto;
}

.container {
  min-height: 100%;
  width: 100%;
  margin-bottom: -480px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small-blue-link {
  text-decoration: underline;
  color: rgb(61, 124, 159);
  font-size: 13px;
}

.small-blue-link:hover {
  color: rgb(213, 43, 43);
}

.text-red {
  color: red;
}

.vertical-align-middle {
  vertical-align: middle;
}

.align-horiz {
  text-align: center;
}

.align-right {
  text-align: right;
}

.line-height30px {
  line-height: 30px;
}

.line-height80 {
  line-height: 80px;
}

.padding-top30px {
  padding-top: 30px;
}

.padding-bootom-1px {
  padding-bottom: 1px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.imgAllwidth {
  width: 100%;
  height: 100%;
}

.height300px {
  height: 300px;
}

.width-all {
  width: 100%;
}

.table {
  display: table;
}

.display-block {
  display: block;
}

.height40px {
  height: 40px;
}

.padding-bottom480px {
  padding-bottom: 480px;
}


/************************* Хедер ***************************/

.font-grey {
  background-color: rgb(242, 239, 231)
}

.marginRight50px {
  margin-right: 50px;
}

.links-horizontal li {
  display: inline;
  margin-right: 50px;
}

.links-horizontal li:last-child {
  margin: auto;
}

.search input {
  font-size: 25px;
}

.trash {
  color: #fff;
  background: #0fc827;
  border: 1px solid #ff8a2b;
  border-radius: 5px;
  padding: 8px 30px;
}

.trash:hover {
  opacity: 0.75;
}


/************************* Навигация ***************************/

.menu {
  border: 2px solid black;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

.dropbtn {
  display: block;
  line-height: 20px;
  color: white;
  font-weight: bolder;
  background-color: rgb(44, 55, 52);
  font-size: 15px;
  cursor: pointer;
  padding: 8px 15px;
  white-space: nowrap;
}

.last-element-menu {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
  color: red;
}

.last-element-menu:hover {
  color: white;
}

.dropbtn:hover {
  background-color: rgb(207, 23, 27);
}

.drop {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  border: 2px solid red;
  z-index: 1;
}

.drop li {
  padding-left: 10px;
  padding-top: 10px;
}

.drop a {
  cursor: pointer;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
  color: rgb(61, 124, 159);
  font-size: 14px;
}

.drop a:hover {
  color: red;
}

.show {
  display: block;
}


/*************************main ***************************/

.main:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*************************info-block ***************************/

.info-block ul {
  overflow: hidden;
}

.info-block a {
  display: block;
}

.info-block a:hover {
  color: red;
}

.info-block a img {
  vertical-align: middle;
}

.info-block li {
  border: 0.1px solid rgb(182, 182, 182);
  background: rgba(217, 217, 217, 0.99);
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
}

.info-block a {
  text-decoration: underline;
  color: black
}

.info-block li:hover {
  background: rgba(217, 217, 217, 0.50);
}

.info-block span {
  margin-left: 15px;
}

.info-block ul a:last-child li {
  border-bottom-right-radius: 25px;
}


/*************************hot-sale ***************************/

.hot-sale {
  height: 400px;
}

.hot-sale div {
  border: 3px solid grey;
  border-right: none;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}

.hot-sale .old-price {
  text-decoration: line-through;
  font-size: 18px;
  text-align: left;
}

.hot-sale .new-price {
  color: red;
  font-size: 25px;
  text-align: right;
}

.hot-sale div:first-child {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.hot-sale div:last-child {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-right: 3px solid grey;
}

.hot-sale div :first-child {
  margin: 20px;
}

.hot-sale p {
  width: 150px;
  margin: auto;
  margin-bottom: 5px;
}

.hot-sale div p:first-of-type {
  border-radius: 15px;
  border: 1px solid grey;
  background: yellow;
}

.button-in-trash {
  color: #fff;
  background: rgb(212, 75, 56);
  height: 30px;
  width: 100px;
  margin: 10px auto;
}

.button-in-trash:hover {
  background: rgb(232, 95, 76);
}

.button-in-trash:active {
  background: rgb(152, 15, 0);
}

.advertisting {
  text-align: justify;
}

.advertisting:after {
  display: inline-block;
  content: "";
  width: 100%;
}


/*************************footer ***************************/

footer {
  background-color: chartreuse;
  width: 100%;
}

footer ul {
  width: 18%;
}

footer a {
  color: rgb(61, 124, 159);
  font-size: 13px;
}

footer a:hover {
  color: red;
}

.card {
  text-align: justify;
  height: 80px;
}

.card img {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.card:after {
  width: 100%;
  content: '';
  display: inline-block;
}

.social {
  width: 20%;
}

.social img {
  width: 150px;
}

.height400px {
  height: 400px;
}

.company-info {
  width: 26%;
}

.company-info form {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px 20px;
}

.company-info p {
  font-size: 14px;
}
