/*************************** Сброс стилей *****************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  /*border: 0.01px solid black;*/
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


/************************* Общие стили ***************************/

body {
  min-width: 1100px;
  background: #f6f6f6;
  color: #2d2d2d;
  font-family: 'Arial', 'Helvetica';
  font-size: 16px;
  line-height: 1.5;
}

header, footer, .main {
  width: 100%;
}

html, body {
  height: 100%;
  background: white;
}

.wrapper {
  width: 1100px;
  margin: auto;
}

.container {
  min-height: 100%;
  margin-bottom: -150px;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.padding-5px {
  padding-top: 4px;
}

.small-blue-link {
  text-decoration: underline;
  color: rgb(61, 124, 159);
  font-size: 13px;
}

.small-blue-link:hover {
  color: rgb(213, 43, 43);
}


/************************* Хедер ***************************/

.text-red {
  color: red;
}

.links-horizontal li {
  display: inline;
  margin-right: 50px;
}

.info-header {
  padding-left: 10px;
}

.search {
  padding-top: 20px;
}

form input {
  font-size: 25px;
}

.trash {
  color: #fff;
  background: #0fc827;
  border: 1px solid #ff8a2b;
  border-radius: 5px;
  padding: 8px 30px;
  margin-top: 20px;
  margin-right: 100px;
}

.trash:hover {
  opacity: 0.75;
}

.middle-150px {
  height: 100px;
}

div img {
  max-width: 100%;
  max-height: 100%;
}


/************************* Навигация ***************************/

.nav {}

.menu {
  float: left;
  background: rgb(92, 145, 40);
  height: auto;
}

.dropbtn {
  background-color: rgb(44, 55, 52);
  color: white;
  padding: 4px;
  font-size: 17px;
  border: 2px solid black;
}

.dropbtn:hover {
  background-color: rgb(207, 23, 27);
  border: 2px solid rgb(207, 23, 27);
}

.nav .menu:last-child a {
  /*padding-right: 10px;*/
}


/*************************main ***************************/

.info-block {
  height: 300px;
}

.info-block:last-child {
  width: 350px;
}

.info-block li {
  border: 0.5px solid grey;
  background: rgba(217, 217, 217, 0.99);
  height: 100px;
  box-sizing: border-box;
  text-align: center;
}

.main {
  padding-bottom: 200px;
}
.align-horiz {
  text-align: center;
}

.main:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.hot-sale div {
  border: 3px solid grey;
  box-sizing: border-box;
  border-radius: 10px;
  width: 25%;
  height: 400px;
  float: left;
  text-align: center;
}

.hot-sale div :first-child {
  margin: 20px;
}

.hot-sale div p {
  margin-bottom: 10px;
}

.hot-sale div p:first-of-type {
  width: 150px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid grey;
  background: yellow;
}

.hot-sale div p:last-of-type {
  color: red;
  font-size: 30px;
}

.display-block {
  display: block;
}

.button-in-trash {
  color: #fff;
  background: rgb(212, 75, 56);
  height: 30px;
  width: 100px;
  margin: 10px auto;
}

.button-in-trash:hover {
  background: rgb(232, 95, 76);
}

.button-in-trash:active {
  background: rgb(152, 15, 0);
}


/*************************footer ***************************/

footer {
  background-color: chartreuse;
  height: 150px;
  width: 100%;
  margin-top: -150px;
}
